<a class="item">
    Chatroom
</a>
<a class="item">
    Messages
</a>
<div class="right menu">
    <div class="ui item dropdown">
        <button class="ui inverted button dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Account
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Log out</a></li>
            <li><a class="dropdown-item" href="#">Log in</a></li>
            <li><a class="dropdown-item" href="#">Sign up</a></li>
        </ul>
    </div>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
</div>